{% extends 'base.html.twig' %}

{% block title %}Ajouter une categoerie{% endblock %}


{% block body %}


<div class="example-wrapper">
    <h1>Ajouter une categoerie</h1>
    {{form(form)}}
    
</div>
{% endblock %}
